<h3>Reactive Form</h3>

<form [formGroup]="theForm"
      (ngSubmit)="onSubmit()">

  <div>
    <label for="name">Name</label>
    <input type="text" id="name"
           formControlName="name">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password"
           formControlName="password">
  </div>

  <button type="submit">Submit</button>

</form>

<h3>Debug:</h3>
Valid: {{theForm.valid}}
<br>
Errors:
Name: {{theForm.controls['name'].errors | json}},
Password: {{theForm.controls['password'].errors | json}}
<br>
Value: {{theForm.value | json}}
